/* Default values for main HTML elements */

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: $font-normal;
  line-height: 1.3;
  color: $body-color;
  background-color: $body-background-color;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  outline-color: $link-color;
  transition: color $transition-time;

  &:hover,
  &:active {
    color: $link-hover-color;
    transition: color ($transition-time/2);
  }
}

hr {
  height: 1px;
  margin: 1em 0;
  border: none;
  color: $body-color;
  background-color: $body-color;
  opacity: $disabled-opacity;
}

fieldset {
  min-width: inherit; /* width fix for Chrome */
  border: 1px solid $body-color;
  margin: 0;
  padding: 1em;
}

@-moz-document url-prefix() {
  fieldset {
    display: table-cell; /* width fix for FF */
  }
}

.clearfix {
  @extend %clearfix;
}

.ellipsis {
  @extend %ellipsis;
}

::selection {
  color: $selection-color;
  background: $selection-bg;
}

::-moz-selection {
  color: $selection-color;
  background: $selection-bg;
}

/* Demo (remove me!) */
.container {
  @include container;
}
.span-6-of-12 {
  @include span(6 of 12);

  box-sizing: border-box;
}
div {
  padding: 3px;
  border: 1px solid $body-color;
}
