/* SASS extends */

%clearfix {
  &:before,
  &:after {
      content: " ";
      display: table;
  }
  &:after {
      clear: both;
  }
}

%button {
  box-sizing: border-box;
  display: inline-block;
  height: $input-height;
  padding: $input-padding ($input-padding*4);
  border: 1px solid $body-color;
  border-radius: $input-radius;
  line-height: $input-line-height;
  color: $body-background-color;
  background: $body-color;
  text-decoration: none;
  cursor: pointer;
  transition: all $transition-time;

  &:hover,
  &:active {
    color: $body-color;
    background: $link-color;
    text-decoration: none;
    transition: all ($transition-time/2);
  }

  &[disabled],
  &.disabled {
    color: $body-background-color;
    background: $body-color;
    cursor: default;
    opacity: $disabled-opacity;
  }
}
