/* Custom grid */

.fe-row {
	@extend %clearfix;

	margin-left: auto;
	margin-right: auto;
	max-width: $site-width;

	&.fe-expanded {
		max-width: none;
	}
}

.fe-cols {
	float: left;
	width: 100%;
	padding-left: $gutter-m/2;
	padding-right: $gutter-m/2;

	@include breakpoint(small) {
		padding-left: $gutter-s/2;
		padding-right: $gutter-s/2;
	}
}

.fe-cols .fe-row {
	margin-left: -$gutter-m/2;
	margin-right: -$gutter-m/2;

	@include breakpoint(small) {
		margin-left: -$gutter-s/2;
		margin-right: -$gutter-s/2;
	}
}

.fe-sm-1 { @include grid-width(1) }
.fe-sm-2 { @include grid-width(2) }
.fe-sm-3 { @include grid-width(3) }
.fe-sm-4 { @include grid-width(4) }
.fe-sm-5 { @include grid-width(5) }
.fe-sm-6 { @include grid-width(6) }
.fe-sm-7 { @include grid-width(7) }
.fe-sm-8 { @include grid-width(8) }
.fe-sm-9 { @include grid-width(9) }
.fe-sm-10 { @include grid-width(10) }
.fe-sm-11 { @include grid-width(11) }
.fe-sm-12 { @include grid-width(12) }

@include breakpoint(medium) {
	.fe-md-1 { @include grid-width(1) }
	.fe-md-2 { @include grid-width(2) }
	.fe-md-3 { @include grid-width(3) }
	.fe-md-4 { @include grid-width(4) }
	.fe-md-5 { @include grid-width(5) }
	.fe-md-6 { @include grid-width(6) }
	.fe-md-7 { @include grid-width(7) }
	.fe-md-8 { @include grid-width(8) }
	.fe-md-9 { @include grid-width(9) }
	.fe-md-10 { @include grid-width(10) }
	.fe-md-11 { @include grid-width(11) }
	.fe-md-12 { @include grid-width(12) }
}

@include breakpoint(large) {
	.fe-lg-1 { @include grid-width(1) }
	.fe-lg-2 { @include grid-width(2) }
	.fe-lg-3 { @include grid-width(3) }
	.fe-lg-4 { @include grid-width(4) }
	.fe-lg-5 { @include grid-width(5) }
	.fe-lg-6 { @include grid-width(6) }
	.fe-lg-7 { @include grid-width(7) }
	.fe-lg-8 { @include grid-width(8) }
	.fe-lg-9 { @include grid-width(9) }
	.fe-lg-10 { @include grid-width(10) }
	.fe-lg-11 { @include grid-width(11) }
	.fe-lg-12 { @include grid-width(12) }
}
