/* SASS mixins */

@mixin breakpoint($size) {
	@if $size == small {
		@media screen and (max-width: $screen-s) { @content ; }
	}
	@else if $size == medium {
		@media screen and (min-width: ($screen-s + 1px)) and (max-width: ($screen-m - 1px)) { @content ; }
	}
	@else if $size == large {
		@media screen and (min-width: $screen-m) { @content ; }
	}
	@else { }
}

@mixin transition($property, $duration: $transition-time, $easing: $transition-easing) {
	transition: $property $duration $easing;
}

@mixin aspect-ratio($width: 16, $height: 9) {
	position: relative;

	&:before {
		display: block;
		content: ' ';
		width: 100%;
		padding-top: ($height/$width) * 100%;
	}
}
