/* Text sizes */

body {
	font-size: $text-s;
	line-height: $lh;

	@include breakpoint(medium) {
		font-size: $text-m;
	}
}

/* Titles */

h1 {
	font-size: $title-s;

	@include breakpoint(medium) {
		font-size: $title-m;
	}

	@include breakpoint(large) {
		font-size: $title-l;
	}
}

h2, h3, h4, h5, h6 {
	font-size: $title-s;

	@include breakpoint(small) {
		font-size: $title-xs;
	}
}
