/* Variables used in SASS */

/* Susy */

$susy: (
  columns: 12,
  gutters: 0,
);

/* Colors */

$body-color: #333333;
$body-background-color: #cccccc;

$link-color: #999999;
$link-hover-color: #333333;

$input-bg: #ffffff;
$input-border: $body-color;

$selection-color: $body-background-color;
$selection-bg: $body-color;

/* Inputs and buttons */

$input-radius: 3px;
$input-line-height: 1.5em;
$input-padding: 0.25em;
$input-height: $input-line-height + ($input-padding*2);

/* Sizes */

$space: 10px;

/* Font sizes */

$font-normal: 15px;

/* Times */

$transition-time: 400ms;

/* More */

$disabled-opacity: 0.5;
