/* Variables used in SASS */

/* Susy */

$susy: (
  columns: 12,
  gutters: 0,
);

/* Colors */

$body-color: #cccccc;
$body-background-color: #333333;
$link-color: #999999;
$link-hover-color: #cccccc;

/* Sizes */

$space: 10px;
