{
  "extends": "airbnb",
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": "warn"
  },
  "globals": {
    "$": true
  }
}
